Repository 0x73746F66/trivialsec-trivialscan-dashboard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vite build, terraform validate, sca npm, whitespace, yaml json py linting

vite build:
  retry: 2
  tags:
  - dashboard
  stage: test
  script:
  - npm i
  - make -B ci-build
  artifacts:
    name: dist
    paths:
    - node_modules/
    - $SOURCE_FILES

terraform validate:
  stage: test
  tags:
  - dashboard
  script:
  - "TOOLS=\"terraform_checkov terraform_validate\"\nfor i in $TOOLS\ndo\n  pre-commit run $i --local-branch ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME:-$CI_COMMIT_BRANCH}\ndone\n"

sca npm:
  stage: test
  tags:
  - dashboard
  allow_failure: true
  script:
  - pre-commit run license-check-npm --local-branch ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME:-$CI_COMMIT_BRANCH}
  dependencies:
  - vite build

whitespace:
  stage: test
  tags:
  - dashboard
  allow_failure: true
  script:
  - "TOOLS=\"remove-tabs trailing-whitespace\"\nfor i in $TOOLS\ndo\n  pre-commit run $i --local-branch ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME:-$CI_COMMIT_BRANCH}\ndone\n"

yaml json py linting:
  stage: test
  tags:
  - dashboard
  allow_failure: true
  script:
  - "TOOLS=\"prettier typos pretty-format-json check-json check-yaml\"\nfor i in $TOOLS\ndo\n  pre-commit run $i --local-branch ${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME:-$CI_COMMIT_BRANCH}\ndone\n"

fix(ci): incompaitble settings
  .gitlab-ci.yml
Due: none

fix(ci): remove sast
  .gitlab-ci.yml
Due: none

feat(ci): clear cdn cache
  .gitlab-ci.yml
Due: none

fix(ci): cf distro env var
  .gitlab-ci.yml
  plans/archive.tf
  plans/dashboard.tf
  plans/outputs.tf
  plans/store.tf
  requirements-ci.txt
Due: terraform validate

feat: update Account Display Name
  src/views/ProfileView.vue
Due: none

feat: Activity dashboard
  package-lock.json
  package.json
  src/assets/_variables.scss
  src/assets/global.scss
  src/components/ReportSummary.vue
  src/components/general/CertificateList.vue
  src/components/general/CollapseableSection.vue
  src/components/general/ComplianceCharts.vue
  src/components/general/CustomChart.vue
  src/components/general/CustomChartDefs.vue
  src/components/general/Dropdown.vue
  src/components/general/Gauge.vue
  src/components/general/HostsList.vue
  src/components/general/IssuesList.vue
  src/components/general/QuestionComponent.vue
  src/components/general/TimeScaleCustomChart.vue
  src/components/icons/CertificateIcon.vue
  src/components/icons/IconCertificate.vue
  src/components/icons/IconChevron.vue
  src/components/icons/IconQuestion.vue
  src/components/icons/IconTarget.vue
  src/components/icons/ThreatIcon.vue
  src/components/layout/Footer.vue
  src/components/layout/Navbar.vue
  src/router/index.js
  src/views/DashboardView.vue
  src/views/ProfileView.vue
  src/views/SummaryView.vue
  src/views/summaryreport.json
Due: sca npm

fix: add anchor blank
  src/components/general/CertificateList.vue
  src/components/general/HostsList.vue
Due: none

feat: Activity dashboard
  src/assets/global.scss
  src/assets/icons/search.svg
  src/components/forms/SearchForm.vue
  src/components/general/CertificateList.vue
  src/components/general/CollapseableSection.vue
  src/components/general/ComplianceCharts.vue
  src/components/general/CustomChart.vue
  src/components/general/Dropdown.vue
  src/components/general/HostsList.vue
  src/components/general/IssuesList.vue
  src/components/general/PricingComponent.vue
  src/components/general/TimeScaleCustomChart.vue
  src/components/general/pieChart.vue
  src/components/icons/IconClose.vue
  src/components/icons/IconSearch.vue
  src/views/DashboardView.vue
  src/views/HomeView.vue
Due: none

chore: update footer
  src/components/layout/Footer.vue
Due: none

chore: address vue warnings
  src/components/MainHeading.vue
  src/components/RegistrationForm.vue
  src/components/ReportListItem.vue
  src/components/forms/LoginForm.vue
  src/components/forms/RegisterForm.vue
  src/components/forms/SearchForm.vue
  src/components/general/ComplianceCharts.vue
  src/components/general/CustomChart.vue
  src/components/general/HostsList.vue
  src/components/general/TimeScaleCustomChart.vue
  src/main.js
  src/router/index.js
  src/router/protected-routes.js
  src/router/public-routes.js
  src/views/DashboardView.vue
  src/views/DocsView.vue
  src/views/ListSummariesView.vue
  src/views/ProfileView.vue
  src/views/SummaryView.vue
Due: vite build, whitespace, yaml json py linting

add feature pages
  src/components/general/BasicFeature.vue
  src/router/index.js
  src/router/protected-routes.js
  src/router/public-routes.js
  src/views/HomeView.vue
  src/views/seo/FeaturePage.vue
Due: none

feat: Summary component
  src/assets/_variables.scss
  src/components/forms/SearchForm.vue
  src/components/general/CertificateList.vue
  src/components/general/CollapseableSection.vue
  src/components/general/CustomChart.vue
  src/components/general/HostsList.vue
  src/components/general/IssuesList.vue
  src/components/general/Summary.vue
  src/components/general/loadingComponent.vue
  src/components/icons/IconInfo.vue
  src/views/DashboardView.vue
  vite.config.js
Due: none

fix: pricing and plan info
  src/components/forms/RegisterForm.vue
  src/components/general/PricingComponent.vue
  src/components/general/Summary.vue
  src/components/layout/Hero.vue
  src/views/HomeView.vue
  src/views/ProfileView.vue
Due: none

style: fix search results
  src/assets/global.scss
  src/components/forms/SearchForm.vue
Due: none

feat: Detailed Report
  .env.development
  plans/_locals.tf
  plans/dashboard.tf
  src/assets/global.scss
  src/components/CertificateDetail.vue
  src/components/ReportDetail.vue
  src/components/general/Certificate.vue
  src/components/general/ExpandSection.vue
  src/components/general/HostsList.vue
  src/components/general/Summary.vue
  src/components/general/customPill.vue
  src/components/general/reportCertificates.vue
  src/components/general/reportScoreResults.vue
  src/components/general/slidingModal.vue
  src/components/general/threatItem.vue
  src/components/icons/IconDiscord.vue
  src/components/icons/IconLink.vue
  src/components/layout/Footer.vue
  src/views/CertificateView.vue
  src/views/DetailView.vue
  src/views/HostnameView.vue
Due: terraform validate

feat: Detailed Report improvements
  src/assets/global.scss
  src/components/ReportDetail.vue
  src/components/general/Certificate.vue
  src/components/general/CertificateList.vue
  src/components/general/IssuesList.vue
  src/components/general/customPill.vue
  src/components/general/reportCertificates.vue
  src/views/CertificateView.vue
  src/views/DashboardView.vue
  src/views/DetailView.vue
  src/views/ProfileView.vue
Due: none

fix: lamda triggers
  plans/cloudfront.tf
  plans/lambda_triggers.tf
  plans/remotes.tf
  plans/route53.tf
  plans/s3_archive.tf
  plans/s3_dashboard.tf
  plans/s3_store.tf
  plans/site_files.tf
Due: terraform validate

feat: SEO pages
  src/App.vue
  src/assets/_forms.scss
  src/assets/global.scss
  src/assets/media/dashboard.png
  src/assets/media/hero.png
  src/components/general/BasicFeature.vue
  src/components/general/Certificate.vue
  src/components/general/CollapseableSection.vue
  src/components/general/Dropdown.vue
  src/components/general/FeatureSlider.vue
  src/components/general/LoginOrRegister.vue
  src/components/general/PricingComponent.vue
  src/components/general/pieChart.vue
  src/components/inputs/EmaiInput.vue
  src/components/inputs/TextArea.vue
  src/components/inputs/TextInput.vue
  src/components/layout/Hero.vue
  src/components/layout/Navbar.vue
  src/router/index.js
  src/router/public-routes.js
  src/views/HomeView.vue
  src/views/ProfileView.vue
  src/views/seo/ActiveScanner.vue
  src/views/seo/CLI.vue
  src/views/seo/FeaturePage.vue
  src/views/seo/Firehose.vue
  src/views/seo/Interoperability.vue
  src/views/seo/OpenSource.vue
  src/views/seo/PassiveScanner.vue
  src/views/seo/PatchAlert.vue
  src/views/seo/PhishingAlerts.vue
  src/views/seo/SecurityFeeds.vue
  src/views/seo/SecurityResearchers.vue
  src/views/seo/ThreatIntel.vue
  src/views/seo/TrivialAttacks.vue
  src/views/seo/tool-comparisson.md
  vite.config.js
Due: vite build, whitespace, yaml json py linting

chore: CI for devel
  .gitlab-ci.yml
  src/assets/global.scss
  src/components/forms/SearchForm.vue
Due: none

fix: devel branch ci
  .gitlab-ci.yml
Due: none

fix: ci vite build
  .gitlab-ci.yml
Due: none

fix: ci deps
  .gitlab-ci.yml
Due: none

feat: close #70
  src/components/general/Clients.vue
  src/views/ProfileView.vue
Due: none

fix: show member in UI when invited, remove member from UI when deleted
  src/components/general/Clients.vue
  src/components/general/Members.vue
Due: none

fix(ci): speed and node env for prod
  .gitlab-ci.yml
Due: none

fix(ci): ensure files are built or they get wiped
  .autoenv.zsh
  .env.development
  .env.production
  .gitlab-ci.yml
  Makefile
Due: none

feat: add client delete
  .gitlab-ci.yml
  src/components/general/Clients.vue
Due: none

fix: api docs url
  src/components/layout/Footer.vue
Due: none

style: style questionComponent
  src/components/general/QuestionComponent.vue
  src/views/DashboardView.vue
Due: none

fix: Fix loadingComponent on modals
  src/components/forms/LoginForm.vue
  src/components/forms/RegisterForm.vue
  src/components/general/Modal.vue
Due: none

feat: added lambda trigger for ondemand scanner
  plans/lambda_triggers.tf
  plans/remotes.tf
Due: terraform validate

fix: tf arn ref
  plans/lambda_triggers.tf
Due: terraform validate

fix: rule id
  src/components/ReportDetail.vue
  src/components/general/CertificateList.vue
  src/components/general/IssuesList.vue
  src/views/DetailView.vue
Due: none

feat: Add HostDetailView component
  src/components/HostDetail.vue
  src/components/general/HostDetailView.vue
  src/views/HostnameView.vue
Due: none

style: cert expiry and key compromise
  src/components/general/Certificate.vue
  src/components/general/reportCertificates.vue
  src/components/general/threatItem.vue
  src/views/DetailView.vue
  src/views/HostnameView.vue
Due: none

style: group threat info and fix white spaces
  src/components/ReportDetail.vue
  src/components/general/Certificate.vue
  src/components/general/threatItem.vue
Due: none

style: blockquote and bullets
  src/assets/global.scss
  src/components/ReportDetail.vue
Due: none

fix: refactor for case sensitivity
  src/components/ReportDetail.vue
  src/components/forms/ContactForm.vue
  src/components/forms/LoginForm.vue
  src/components/forms/RegisterForm.vue
  src/components/forms/SearchForm.vue
  src/components/general/Certificate.vue
  src/components/general/CertificateList.vue
  src/components/general/Clients.vue
  src/components/general/ComplianceCharts.vue
  src/components/general/CustomPill.vue
  src/components/general/HostDetailView.vue
  src/components/general/HostsList.vue
  src/components/general/IssuesList.vue
  src/components/general/LoadingComponent.vue
  src/components/general/Members.vue
  src/components/general/PieChart.vue
  src/components/general/ReportCertificates.vue
  src/components/general/ReportScoreResults.vue
  src/components/general/SlidingModal.vue
  src/components/general/Summary.vue
  src/components/general/componentLoading.vue
  src/components/mitre/DataSourceItem.vue
  src/components/mitre/TacticItem.vue
  src/components/mitre/ThreatItem.vue
  src/views/CertificateView.vue
  src/views/DashboardView.vue
  src/views/DetailView.vue
  src/views/HomeView.vue
  src/views/ProfileView.vue
Due: none

chore: create and reuse evaluations component
  src/components/EvaluationItems.vue
  src/components/ReportDetail.vue
  src/components/general/CertificateList.vue
  src/components/general/IssuesList.vue
Due: none

Path conditions:
  vite build: any of: src/*
  terraform validate: any of: plans/*
  sca npm: any of: package.json
  whitespace: any of: src/*
  yaml json py linting: any of: src/*
